<h1> 

	<b><u>Directions:</b></u> 
	<br />
	<br />
		1. Sieve 1 3/4 cups of powder sugar into a clean dry bowl.
	<br />	 
		2. Sieve 1 cup of almond flour into the same bowl containing previous 2 cups of powder sugar.
	<br />
		3. Using a spatula, mix the contents inside the bowl.
	<br />
		4. Add 3 egg whites (It's <b><u>VERY IMPORTANT</b></u> to use room temperature eggs at this step) into a stand mixer bowl (If you own a hand mixer, it's fine to substitute with a big size bowl)
	<br />
		5. Beat the egg whites for 4 minutes.
	<br />
		6. Slowly add 1/4 cup of granulated white sugar into the stand mixer bowl while beating the mixture for another 4 minutes.
	<br />
		7. Add pinch of salt and gel food coloring (to your liking), then beat the mixture for 1 minute to make sure that colors are throughout all the mixture.
	<br />
		8. Transfer the almond flour mixture to the stand mixer bowl.
	<br />
		9. Using a rubber spatula, fold and turn (scraping down the bowl) until the batter is smooth and falls off the spatula in a thin flat ribbon (2-3 minutes or 70 folds).
	<br />
		10. Preheat the oven to 300 degrees F. Prepare the baking sheets with parchment paper (<b><u>DO NOT</b></u> spray anything onto the parchment paper)
	<br />
		11. Transfer the batter to a pastry bag with 1/4 inch round tip (plastic zip lock bags can be used as a substitute).
	<br />
		12.	Pipe 1 1/4 inch circles. Try to keep the circles away from one another as they will get bigger when we leave them in the room temperature later on.
	<br />
		13. Firmly tap the baking sheets against the counter to release any air bubbles contained within the circles.
	<br />
		14. Let the macaroons sit at room temperature until the top is not sticky anymore (This usually takes 30 mins to 1 hour).
	<br />
		15. Once the top is no longer sticky, transfer the baking sheet into the top rack of the oven. Bake one baking sheet at a time.
	<br />
		16. Bake the macaroons for 10-20 minutes (this step depends on how big you've piped the circle)
	<br />
		17. When complete, you should be able to see that your macaroons are shiny and rose 1/8 inch to form a "foot." Transfer to a room temperature to cool down.
</h1>
