.dropdown-menu {
	background:url('/assets/topbackground.png');
	width: 100%;
}

.dropdown-menu li a {
    word-wrap: break-word;
    white-space: normal;
}

.dropdown-toggle{
	background:url('/assets/topbackground.png');
}

.button {
	background:url('/assets/topbackground.png');
}

.navbar.navbar-default{
	background:url('/assets/topbackground.png');
}

h1 {
	font-style: Times, sans-serif;
	color: #000080;
	font-size: 25px;
}

body {
	background:url('/assets/wallpaper.png');
	background-size: 100% auto;
}