.dropdown-menu {
	background:url('/assets/topbackground.png');
	width: 100%;
}

.dropdown-menu li a {
    word-wrap: break-word;
    white-space: normal;
}

.dropdown-toggle{
	background:url('/assets/topbackground.png');
}

.button {
	background:url('/assets/topbackground.png');
}

hr {
    clear:both;
}

.navbar.navbar-default{
	background:url('/assets/topbackground.png');
}