<!DOCTYPE html>
<html>
<head>
  <title>Delicious macaroons recipe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
		  	<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		     	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		      	</button>
		      	<a class="navbar-brand">
	      			<font color = "red">
      					The <b><u>BEST</b></u> Macaroon recipe that even a BEGINNER can learn!!!
	      			</font>
	      			<font color = "blue" size = "2">
	      				<i>Following links to the right will take you straight to the shopping page.</i>
	      			</font>
      			</a>
		    </div>

    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav navbar-right">
	        	<li class="dropdown">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b>MUST HAVE</b> Ingredients <span class="caret"></span></a>
		          	<ul class="dropdown-menu">
		            	<li><a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=almond+flour">Almond Flour</a></li>
			            <li><a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=powder+sugar&rh=i%3Aaps%2Ck%3Apowder+sugar">Confections' Sugar/Powder Sugar</a></li>
			            <li><a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=white+sugar&rh=i%3Aaps%2Ck%3Awhite+sugar">Granulated White Sugar</a></li>
			            <li><a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=salt&rh=i%3Aaps%2Ck%3Asalt">Salt</a></li>
			            <li><a href="http://www.target.com/s?searchTerm=eggs&category=0%7CAll%7Cmatchallpartial%7Call+categories&lnk=snav_sbox_eggs">Eggs</a></li>
			            <li><a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=gel+food+coloring&rh=i%3Aaps%2Ck%3Agel+food+coloring">Gel food coloring</a></li>
		          	</ul>
		        </li>

		        <li class="dropdown">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Equipments <span class="caret"></span></a>
		          	<ul class="dropdown-menu">
		            	<li><a href="http://www.target.com/s?searchTerm=parchment+paper&category=0%7CAll%7Cmatchallpartial%7Call+categories&lnk=snav_sbox_parchment+paper">Parchment Paper</a></li>
			            <li><a href="http://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Daps&field-keywords=fine+mesh+sieve&rh=i%3Aaps%2Ck%3Afine+mesh+sieve">Fine-mesh Sieve</a></li>
			            <li><a href="http://www.amazon.com/s/ref=nb_sb_ss_c_0_16?url=search-alias%3Daps&field-keywords=pastry+bag+with+tips&sprefix=pastry+bag+with+tips%2Caps%2C187&rh=i%3Aaps%2Ck%3Apastry+bag+with+tips">Pastry bag with 1/4" round tip</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a>Oven - Don't buy this online</a></li>
		          	</ul>
		        </li>

		        <li class="dropdown">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">How to make inside filling <span class="caret"></span></a>
		          	<ul class="dropdown-menu">
		            	<li><i>Coming Soon...</i></li>
		          	</ul>
		        </li>

		      	</ul>
		    </div><!-- /.navbar-collapse -->
		  	</div><!-- /.container-fluid -->
		</nav>

</header>

<%= yield %>

</body>
</html>
